<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="io.demoapp.expensive"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".ExpensiveApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".welcome.WelcomeActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Dark">
        </activity>
        <activity
                android:name=".tasks.TasksActivity"
                android:theme="@style/AppTheme.OverlapSystemBar"/>
        <activity android:name=".taskdetail.TaskDetailActivity" />
        <activity android:name=".addedittask.AddEditTaskActivity" />
        <activity android:name=".statistics.StatisticsActivity" />

        <activity android:name="net.openid.appauth.RedirectUriReceiverActivity"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="com.googleusercontent.apps.173065469067-85s1bkdaf60pusf6gs0iugnukba46m3s" />
                <data android:scheme="io.demoapp.expensive" />
            </intent-filter>
        </activity>
    </application>

</manifest>
